#api
api/node_modules
api/package-lock.json
api/build
api/.vscode

#front
front/node_modules
front/package-lock.json
front/build
front/.vscode
front/dist
front/.gitignore
front/.angular/

data/*
rapport/*

.DS_Store